

<p>
  <strong>Name:</strong>
  <%= @hp_search.name %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @hp_search.zipcode %>
</p>

<%= link_to 'Edit', edit_hp_search_path(@hp_search) %> |
<%= link_to 'Back', hp_searches_path %>
